        .badge {
            display: inline-block;
            padding: .25em .4em;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: .25rem;
            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
        }
        
        @media (prefers-reduced-motion:reduce) {
            .badge {
                transition: none
            }
        }
        
        a.badge:focus,
        a.badge:hover {
            text-decoration: none
        }
        
        .badge:empty {
            display: none
        }
        
        .btn .badge {
            position: relative;
            top: -1px
        }
        
        .badge-pill {
            padding-right: .6em;
            padding-left: .6em;
            border-radius: 10rem
        }
        
        .badge-blue {
            color: #fff;
            background-color: #007bff
        }
        
        .badge-blue:focus,
        .badge-blue:hover {
            color: #0062cc;
            background-color: #fff;
        }
        
        .badge-blue.focus,
        .badge-blue:focus {
            outline: 0;
            box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5)
        }
        
        .badge-secondary {
            color: #fff;
            background-color: #6c757d
        }
        
        a.badge-secondary:focus,
        a.badge-secondary:hover {
            color: #fff;
            background-color: #545b62
        }
        
        a.badge-secondary.focus,
        a.badge-secondary:focus {
            outline: 0;
            box-shadow: 0 0 0 .2rem rgba(108, 117, 125, .5)
        }
        
        .badge-red {
            color: #fff;
            background-color: $metro-red
        }
        
        .badge-red:focus,
        .badge-red:hover {
            color: $metro-red;
            background-color: #fff
        }
        
        a.badge-red.focus,
        a.badge-red:focus {
            outline: 0;
            box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .5)
        }
        
        .badge-info {
            color: #fff;
            background-color: #17a2b8
        }
        
        a.badge-info:focus,
        a.badge-info:hover {
            color: #fff;
            background-color: #117a8b
        }
        
        a.badge-info.focus,
        a.badge-info:focus {
            outline: 0;
            box-shadow: 0 0 0 .2rem rgba(23, 162, 184, .5)
        }
        
        .badge-warning {
            color: #212529;
            background-color: #ffc107
        }
        
        a.badge-warning:focus,
        a.badge-warning:hover {
            color: #212529;
            background-color: #d39e00
        }
        
        a.badge-warning.focus,
        a.badge-warning:focus {
            outline: 0;
            box-shadow: 0 0 0 .2rem rgba(255, 193, 7, .5)
        }
        
        .badge-orange {
            color: #212529;
            background-color: $metro-orange;
        }
        
        .badge-orange:focus,
        .badge-orange:hover {
            color: $metro-orange;
            background-color: #212529;
        }
        
        a.badge-orange.focus,
        a.badge-orange:focus {
            outline: 0;
            box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .5)
        }
        
        .badge-light {
            color: #212529;
            background-color: #f8f9fa
        }
        
        a.badge-light:focus,
        a.badge-light:hover {
            color: #212529;
            background-color: #dae0e5
        }
        
        a.badge-light.focus,
        a.badge-light:focus {
            outline: 0;
            box-shadow: 0 0 0 .2rem rgba(248, 249, 250, .5)
        }
        
        .badge-dark {
            color: #fff;
            background-color: #343a40
        }
        
        a.badge-dark:focus,
        a.badge-dark:hover {
            color: #fff;
            background-color: #1d2124
        }
        
        a.badge-dark.focus,
        a.badge-dark:focus {
            outline: 0;
            box-shadow: 0 0 0 .2rem rgba(52, 58, 64, .5)
        }
        
        .badge-purple {
            color: #fff;
            background-color: $metro-purple;
        }
        
        .badge-purple:focus,
        .badge-purple:hover {
            color: $metro-purple;
            background-color: #fff;
        }
        
        .badge-grey {
            color: #212529;
            background-color: $color-lightgrey;
        }
        
        .badge-grey:focus,
        .badge-grey:hover {
            color: #212529;
            background-color: $color-lightgrey;
        }
        
        .badge-black {
            color: #fff;
            background-color: #212529;
        }
        
        .badge-black:focus,
        .badge-black:hover {
            color: #212529;
            background-color: #fff;
        }
        
        .badge-lime {
            color: #212529;
            background-color: $metro-lime;
        }
        
        .badge-lime:focus,
        .badge-lime:hover {
            color: $metro-lime;
            background-color: #212529;
        }
        
        .badge-pink {
            color: #fff;
            background-color: $metro-pink;
        }
        
        .badge-pink:focus,
        .badge-pink:hover {
            color: $metro-pink;
            background-color: #fff;
        }
        
        .badge-green {
            color: #fff;
            background-color: $metro-green;
        }
        
        .badge-green:focus,
        .badge-green:hover {
            color: $metro-green;
            background-color: #fff;
        }