//----------------------------------------------
// Code
//---------------------------------------------- 
code,
kbd,
pre,
samp {
    font-family: $font-highlight;
    font-size: 1em;
}

pre {
    //contains a big chunk of code
    margin: {
        top: 0;
        bottom: 0;
    }
    padding: 2em 1.5em 2em 1.5em;
    line-height: 1.8;
    white-space: pre-wrap;
    word-wrap: break-word;
    background: $metro-bluegrey;
    border-radius: 15px;
    overflow: hidden;
    @media (min-width: $mq-med) {
        padding: {
            right: 2em;
            left: 2em;
        }
    }
    #markdown & {
        margin-bottom: 1.5rem;
        @media (min-width: $mq-med) {
            min-width: 110%;
        }
    }
    code {
        padding: 0;
        color: $metro-lime;
        background: transparent;
    }
}

//this if for any one-liner code not blocks
code {
    border-radius: 0.4em;
    font-size: $font-small;
    padding: 0.15em 0.3em;
    color: $color-black;
    background: #ceff94;
}