//----------------------------------------------
//  Lists
//----------------------------------------------
%no-list-style {
    list-style-type: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

//----------------------------------------------
//  Post Lists
//----------------------------------------------
.post {
    ul.task-list {
        li {
            @extend %no-list-style;
        }
    }
    ol,
    ul:not(.post__social, .task-list) {
        margin: {
            bottom: 1.5rem;
            left: 1.5em;
            //shifts the sublist to left
        }
        font-size: 1.1rem;
        // this keeps multiplying so it increases(1.1em)/decreases(0.9em);using rem
        @media (min-width: $mq-xlarge) {
            font-size: 1.25rem;
        }
        &>li {
            position: relative;
            margin-left: 20px;
            //for the bullets to be shifted left
            &:before {
                //the bulle points
                //TODO change to matrial list-style-icons
                position: absolute;
                left: -2em;
            }
            &:not(:last-child) {
                //all elements except the last has a margin-bottom
                margin-bottom: 0.25rem;
            }
            p {
                margin-bottom: 0;
                font-size: inherit;
            }
            //first child
        }
    }
    ol {
        @extend %no-list-style; // see top
        counter-reset: li;
        &>li:before {
            content: counter(li) ".";
            position: relative;
            left: -20px;
            color: $metro-pink;
            counter-increment: li;
        }
    }
}