// uses commonHTML display
span.mjx-chtml.MathJax_CHTML {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
    font-weight: 700 !important;
}

span.MJXc-display.mjx-math {
    margin: 0 0 1.2em 0 !important;
}