<h3 style="display: inline-block; ">
    {% for badge in post.badge %} {% case badge %} {% when 'code' %}
    <span class="badge badge-blue">code
      {% when 'personal' %}
    <span class="badge badge-orange">personal
    
      {% when 'opinion' %}
    <span class="badge badge-red">opinion
    
      {% when 'physics' %}
    <span class="badge badge-purple">physics
    
      {% when 'theory' %}
      <span class="badge badge-grey">theory

      {% when 'simulation' %}
    <span class="badge badge-black">simulation
    
      {% when 'quantum' %}
    <span class="badge badge-lime">quantum
  
      {% when 'experiment' %}
    <span class="badge badge-pink">experiment
 
      {% when 'art' %}
    <span class="badge badge-green">art
    
      <!-- {% when 'opinion' %}
    <span class="badge badge-red">opinion -->
    
      {% else %}
       
    {% endcase %}</span> {% endfor %}
</h3>