<div class="showcase">
    <div class="showcase__image">
        <img src="../assets/images/showcase.png" alt="">
    </div>
    <div class="showcase__info">
        <h2 id="identity">Hi ! this is psiPen</h2>
        <p>A computing and physics blog. I write about my physics simulations, projects involving programming, quantum computation and information,graphic art, personal opinions and musings. </p>
        <a href="{{  '/about/'' | absolute_url  }}" class="button">About Me</a>
    </div>
</div>