--- 
layout: default 
---
<!-- This is title TODO :change font please heading -->
<!-- <section class="post">
  <div>
    <div class="post__header section-padding--double">
      <div class="grid-small">
        <h2>{{ page.title }}</h2>
      </div>
    </div>
This is for a page image if any 
    {% if page.image %}
      <div class="post__img">
        <div>
          <figure class="absolute-bg" style="background-image: url('{{ page.image }}');"></figure>
        </div>
      </div>
    {% endif %} -->
{% assign image_exist = "no" %}

<div class="post__img shadow">

    {% if page.image %} {% assign image_exist = "yes" %}
    <div class="post__img__container">
        <div class="absolute-bg" style="background-image: url('{{ page.image }}');"></div>
    </div>
    {% endif %}
    <div class="post__header shadow" image="{{ image_exist }}">
        <div class="post__header__container">
            <!-- <h2 itemprop="name headline" class="post__header-style1">{{ page.title }}</h2> -->

            <h2 itemprop="name headline">{{ page.title }}</h2>
        </div>
    </div>
</div>

<div class="post__content section-padding">


    {{content}}


</div>
</div>
</section>