--- 
layout: default 
comments: false
---
<!-- <section class="post">
  <div>
    <div class="post__header section-padding--double">
      <div class="grid-small">
        <h2>{{ page.title }}</h2>
      </div>
    </div>

    {% if page.image %}
      <div class="post__img">
        <div>
          <figure class="absolute-bg" style="background-image: url('{{ page.image }}');"></figure>
        </div>
      </div>
    {% endif %} -->
{% assign image_exist = "no" %}
<div class="post">
    <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">



        <div class="post__img shadow">

            {% if page.image %} {% assign image_exist = "yes" %}
            <div class="post__img__container" image="{{ image_exist }}">
                <div class="absolute-bg" style="background-image: url('{{ page.image }}');"></div>
            </div>
            {% endif %}
            <div class="post__header shadow " image="{{ image_exist }}">
                <div class="post__header__container">
                    <!-- header style here -->
                    <h2 itemprop="name headline">{{ page.title }}</h2>
                    <!-- no classname -->

                    <!-- <time class="post__date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%-d %b %Y" }}</time> -->
                </div>
            </div>
        </div>

        <!-- Pages have sidebars -->

        <!-- DEFINE STYLE HERE -->
        <div class="post__content section-padding style-1">
            <div class="containment">
                <div class="grid-page">
                    <div id="markdown">
                        {{content}}
                    </div>
                </div>
                <div class="sidebar">
                    {% include twitter_timeline.html %}
                </div>


            </div>
        </div>


        <!-- Everything inside the #author tags pulls data from the author -->
        {% if page.author %}
        <div class="section-padding--none">
            <div class="grid">
                <hr class="sep" />
            </div>
        </div>

        <div class="section-padding">
            <div class="grid-small">
                {% for author in site.author %}
                <span class="post__author">Posted by {% if author["name"] == page.author and author["url"] %}<a
                          href="{{ author['url'] }}"
                          title="More By {{ page.author }}">{% endif %}{{ page.author }}{% if author["name"] == page.author and author["url"] %}</a>{% endif %}</span> {% if author["name"] == page.author %}
                <p class="post__bio">{{ author["bio"] }}</p>
                {% endif %} {% endfor %}
            </div>
        </div>
        {% endif %} {% if page.comments %} {% include disqus.html %} {% endif %}
    </article>
</div>
</div>
<!-- </section> -->